
.container-fluid {    
    max-width: 1140px;
}

.tab-content {
    background: linear-gradient(180deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 1%);
}

body {  
    background-color:#f1f2fa !important;
    justify-content: center;  
}

.header, .footer {
    background-color:#f1f2fa;
    padding-top: 20px;
    padding-bottom: 20px;
}
.slick-prev{
    left: -67px!important;
    font-size: 26px!important;
    height: 98px!important;
    width: 86px!important;
    padding: 0px 2px 4px 51px!important;
    background: rgba(0,0,0,0.5)!important;
    border-radius: 82px!important;
    z-index: 1!important;
}

.slick-next{
    right: -39px!important;
    font-size: 26px!important;
    height: 103px!important;
    width: 86px!important;
    padding: 0px 2px 4px 8px!important;
    background: rgba(0,0,0,0.5)!important;
    border-radius: 70px!important;
}

.menu-opener {
    display: none;
}
.iconCarrinho{
    width: 34px;
    left: 127px;
    /* text-align: right; */
    /* margin-right: 51px; */
    position: relative;
    margin-bottom: -36px;
    background: white;
    border-radius: 23px;
    padding: 5px;
    border: 3px solid black;
}
.iconCarrinho img{
    width: 100%;
}
#nav, #ft, .menu-ft {
    background-color: #fff;
}

#nav {    
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.tab-content {
    background-color: #fff;
    
}


.nav-tabs {
    display: flex;
    justify-content: space-around;
    color: #666;
    font-weight: 650;        
    max-width: 1140px;
}

ul, p {
    font-weight: 600;
    font-size: 15px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link{
    border-color: #fff !important;
    border-bottom: 5px solid #c00 !important;
}

.nav-link {    
    width: 33%;
    text-align: center;
}


.nav-tabs {
    background-color: #fff;
}

li { 
    list-style-type: none;
    font-size: 12px;
}

.menu-ft.container-fluid {
    background-color: #fff;
}

a {
    text-decoration: none !important;
    font-weight: 700;
    color: #999 !important;
}

.bannerPrincipal {
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.bannerPrincipal .slick-next,
.bannerPrincipal .slick-prev{
    display: none!important;
}

.section, h4 {
    padding-left: 3%;
}

.image {
    padding: 2%;
}

.bannerPrincipal.button:not(:disabled), .bannerPrincipal .slick-dots [type=button]:not(:disabled) {
    cursor: pointer;
    display: block;
    background-color: #c00;
    height: 3px;
    border-radius: 15px;
}


.bannerPrincipal button {
    background-color: #fff;
    border: none;
}

.bannerPrincipal button:hover {
    background-color: #fff;
    border: none;
}

.slick-dots li button {
    padding: 0px;
}

.ft-medias {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.row.menu-ft {
    white-space: nowrap;    
   margin: 0 auto;
}

.col.menu-ft { 
    font-weight: 500;
    padding: 15px;
}

.footer.container-fluid {
    font-weight: 600;
}

ul, li {
    margin: 10px 0px;
}

.ulsection {
    display: flex;
}

.mobile {
    display: none;
}

.accordion {
    background-color: #f1f2fa;
    margin: 1px solid #f1f2fa;
}

.btn-link, .card-body {
    text-decoration: none;
    color: #666;
    font-weight: 650;
    padding-left: 0px;
}

.card {    
    background-color: #f1f2fa;
    border: none;
}

.tipos {
    margin-left: 2%;
    margin-bottom: 30px;
}
.iconCarrinho:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}

.title{
    font-size: 22px;
    margin-bottom: 15px;
}

.fotoPrincipal{
    border-radius: 6px;        
    box-shadow: 0px 0px 10px -2px #000000;
}

.fotoPrincipal:hover{
    cursor: pointer;
    opacity: 0.6;
}

#nav-tabContent{
    max-width: 1400px;
    margin: 0 auto;
} 
.sessionSlideSeries,
.sessionSlideCanais{
    display: none;
}
.slick-slide.bnbn  {
    border-radius: 2% !important;
    box-shadow: 0px 0px 23px -2px #000000;
}

.bnbn img {    
    border-radius: 2% !important;    
    box-shadow: 0px 0px 15px -2px #000000;
}

.slick-active {
    height: 200% !important;
}

.bnbn {
    width: 500px;
    height: 300px;
   }

.slick-center.bnbn  img, .slick-current.bnbn img {
    height: 280px !important;
}



@media (max-width: 450px) {
    .mobile {
       display: block;
   }

   .col-8 {
       color: #c00;
   }

   .mm, .web, .playStore {
       display: none;
   }

   .menu-opener {       
    display: block;
    position: fixed;
    left: 80%;
   }

   .bnbn {
    width: 300px;
    height: 180px;
   }

   .slick-next, .slick-prev {
       display: none !important;
   }
};